<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Fibonacci</display-name>
    <servlet-name>Fibonacci</servlet-name>
    <servlet-class>com.learning.hello.Fibonacci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonacci</servlet-name>
    <url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  <display-name>WebPage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>passwordValid</display-name>
    <servlet-name>passwordValid</servlet-name>
    <servlet-class>com.learning.hello.passwordValid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordValid</servlet-name>
    <url-pattern>/passwordValid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.learning.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.learning.hello.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactDetailsServlet</display-name>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <servlet-class>com.learning.hello.ContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>Login.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HigerLowerServlet</display-name>
    <servlet-name>HigerLowerServlet</servlet-name>
    <servlet-class>HigherLowerGame.HigerLowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HigerLowerServlet</servlet-name>
    <url-pattern>/HigerLowerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiLoServlet</display-name>
    <servlet-name>HiLoServlet</servlet-name>
    <servlet-class>com.learning.hello.HiLoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiLoServlet</servlet-name>
    <url-pattern>/HiLoServlet</url-pattern>
  </servlet-mapping>
</web-app>